body {
	background-color: grey;
	margin: 0px;
	padding: 0px;
}
header {
}
.header-links i {
}
.main {
	background-color: #efefef;
}
.about-container {
	background-color: #ccc;
	padding: 5% 0 5% 0;
}
.about-section {
	display: flex;
	flex-direction: row;
	padding: 3%;
	max-width: 700px;
	margin: 0 auto;
	background-color: #efefef;
	border-radius: 10px;
}
.about-section img {
	width: 200px;
	height:200px;
	border-radius: 10px;
}
.about-section p {
	line-height: 1.6;
	font-size: 20px;
	padding-left: 3%;
}
h2 {
	text-align: center;
}
.project-section {
	display: flex;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;

}
@media only screen and (max-width: 600px) {
	.project-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.project-image {
	width: 350px;

}

@media only screen and (min-width: 400px) {
	footer {
		flex-direction: row;
		justify-content: space-between;
	}
}
footer a {
	align-items: center;
	margin: 10px;
	text-decoration: none;
	color: black;
}
